body{
    background-color: darkslategrey;
    /*Poner footer abajo*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;      /*Que tenga el 100% de la ventana*/
    margin: 0;
}

#foto{
    width: 3em;
    border-radius: 2em;
    margin-left: 1em;
}

/*Espacio del menú del navbar*/
.nav-item{
    margin-left: 1em;
}

.nombre{
    margin-left: 1em;
}



main{
    flex: 1;      /*Poner footer abajo. Main esté el 1º antes de footer*/
}

/* Título de botones */
.title{
    max-width: 10rem;
    text-align: center;
}

/* Cuadros de formación */
.narrow{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 14px 14px 20px 0 rgba(69, 168, 88, 0.907);
}

.narrow:hover{
    box-shadow: 14px 14px 20px 0 rgba(13, 255, 0, 0.94);
}

.narrow2{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 14px 14px 20px 0 rgba(0, 141, 241, 0.825);
}

.narrow2:hover{
    box-shadow: 14px 14px 20px 0 rgba(84, 238, 238, 0.923);
}

.narrow3{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 14px 14px 20px 0 rgba(255, 113, 113, 0.825);
}

.narrow3:hover{
    box-shadow: 14px 14px 20px 0 rgba(255, 4, 0, 0.923);
}

.card-title, .card-header{
    font-weight: bold;
}

.card-header{
    text-shadow: 2px 1px #004c72;
}

.color1{
    color: rgb(96, 174, 65);
}

.color2{
    color: rgb(0, 247, 255);
}

.color3{
    color: rgb(255, 97, 97);
}

.accordion-header{
    width: 30%;
}

.card{
    margin-bottom: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos{
    width: 12vh;
    margin-left: 4vh;
}

.iconos:hover{
    border-radius: 50%;
    border: yellow 1px solid;
    box-shadow: 5px 5px 20px 0 yellow;
    padding: 1vh;
}

.otherSize{
    width: 10vh;
}

.cuadroIcono{
    min-height: 65vh; /*Para que siempre estén todos los iconos dentro del cuadro*/
}

.principal{
    height: 1vh;
    background-color: red;
}

.enlace{
    text-decoration: none;
}

.proyectos{
    box-shadow: 14px 14px 20px 0 rgba(172, 172, 172, 0.923);
}

.verde:hover{
    box-shadow: 14px 14px 20px 0 rgba(107, 247, 0, 0.923);
}

.verdeOscuro:hover{
    box-shadow: 14px 14px 20px 0 rgba(71, 163, 0, 0.923);
}

.azulOscuro:hover{
    box-shadow: 14px 14px 20px 0 rgba(0, 144, 247, 0.923);
}

.lila:hover{
    box-shadow: 14px 14px 20px 0 rgba(146, 0, 220, 0.923);
}

.pokedex:hover{
    box-shadow: 14px 14px 20px 0 rgba(255, 0, 0, 0.923);
}

.ocean:hover{
    box-shadow: 14px 14px 20px 0 rgba(0, 242, 255, 0.923);
}

.calculadora:hover{
    box-shadow: 14px 14px 20px 0 rgba(255, 222, 5, 0.923);
}

.nba:hover{
    box-shadow: 14px 14px 20px 0 rgba(255, 105, 5, 0.923);
}

.mus:hover{
    box-shadow: 14px 14px 20px 0 rgba(255, 5, 205, 0.923);
}

.plus:hover{
    box-shadow: 14px 14px 20px 0 rgba(186, 134, 71, 0.923);
}

.pro:hover{
    box-shadow: 14px 14px 20px 0 rgba(70, 225, 197, 0.923);
}

.pedidos:hover{
    box-shadow: 14px 14px 20px 0 rgba(212, 118, 174, 0.923);
}

.bartolo:hover{
    box-shadow: 14px 14px 20px 0 rgba(247, 252, 140, 0.923);
}

#usuario, #contrasena{
    color: aquamarine;
}

.sinmargin{
    margin-top: -30vh !important;
}

.sinmargin2{
    margin-top: 0 !important;
}

.ahorcado{
    height: 21vh;
}

.footer {
    color: white;
    width: 100%;
    height: 10vh;
    bottom: 0;    /*Poner footer abajo*/
    display: grid;
    grid-template-areas: "tlf linkedin portfolio"
                         "email github portfolio";
  }

#tlf {
    grid-area: tlf;
}

#linkedin{
    grid-area:linkedin;
} 

#portfolio{
    grid-area:portfolio;
}

#email{
    grid-area:email;
} 

#github{
    grid-area:github;
    
} 

.pedidos{
    height: 60vh;
}

.link, .link2{
    text-decoration: none;
    color: white;
}

.link{
    color: red;
}


@media only screen and (max-width : 761px) {

    .sinmargin2{
        margin-top: -30vh !important;
    }
}

