body{
    background-color: darkslategrey;
    /*Poner footer abajo*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;      /*Que tenga el 100% de la ventana*/
    margin: 0;
}

#foto{
    width: 3em;
    border-radius: 2em;
    margin-left: 1em;
}

/*Espacio del menú del navbar*/
.nav-item{
    margin-left: 1em;
}

main{
    flex: 1;      /*Poner footer abajo. Main esté el 1º antes de footer*/
}

/* Título de formación */
.title{
    max-width: 8rem;
    text-align: center;
}

/* Cuadros de formación */
.narrow{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 14px 14px 20px 0 rgba(69, 168, 88, 0.907);
}

.narrow:hover{
    box-shadow: 14px 14px 20px 0 rgba(13, 255, 0, 0.94);
}

.narrow2{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 14px 14px 20px 0 rgba(0, 141, 241, 0.825);
}

.narrow2:hover{
    box-shadow: 14px 14px 20px 0 rgba(84, 238, 238, 0.923);
}

.narrow3{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 14px 14px 20px 0 rgba(255, 113, 113, 0.825);
}

.narrow3:hover{
    box-shadow: 14px 14px 20px 0 rgba(255, 4, 0, 0.923);
}

.card-title, .card-header{
    font-weight: bold;
}

.card-header{
    text-shadow: 2px 1px #004c72;
}

.card-text{
    color: rgb(96, 174, 65);
}

.accordion-header{
    width: 30%;
}

.card{
    margin-bottom: 50vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: white;
    width: 100%;
    height: 20px;
    bottom: 0;    /*Poner footer abajo*/
  }

  